<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Classical Music Radio App</h1>
        <img width="400" src="/images/Best-composers-featured-image-02-1000.jpg">
        <p>Welcome to the Classical Music Radio App! This app will allow you to listen to playlists of various
        famous composers from the 16th-18th centuries! Click <a href="/demo">here</a> to go
        to the demo page and <a href="/about">here</a> to go to my bio!
      </p>
    </div>



<%- include('bootfooter') -%>
